WP_PORT=80

DB_NAME=exampledb
DB_USER=exampleuser
DB_PASSWORD=examplepass
MYSQL_ROOT_PASSWORD=changeme_root_password
OLD_URL=http://localhost
NEW_URL=http://localhost # If you are serving your site from a different URL, change this to the new URL. For example, if you are serving your site from http://example.com, change this to http://example.com
